body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  transition: background-image 0.5s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.row {
  overflow: visible !important;
}

.text-white {
  color: #fff;
}

.remove-link {
  text-decoration: none;
  color: #fff !important;
  transition: color 0.3s ease;
}

.remove-link:hover {
  color: #d5d5d5 !important;
}

.main-content-area {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.br-20 {
  border-radius: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #fff;
  font-size: large !important;
  border-radius: 10px;
  margin-left: 5px !important;
  margin-right: 5px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  transition: background 0.4s ease, border-radius 0.4s ease;
}

.nav-link:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1) !important;
}

.nav-link.active {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px;
}

.nav-link.active:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

.navbar-toggler {
  background: rgba(255, 255, 255, 0.6) !important;
}

.gallery-button {
  min-width: 180px;
}

/* FROSTED GLASS EFFECT */

.frosted-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  color: #fff;
  box-shadow: 0 4px 6px rgba(54, 54, 54, 0.2);
  text-align: center;
  opacity: 1;
  z-index: 10;
}

.skill-pill {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  transition: background-color 0.3s, color 0.3s;
  cursor: default;
  margin: 5px;
  width: auto;
}

.skill-pill:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* FROSTED GLASS EFFECT END*/

.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 25%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.mb-small {
  margin-bottom: 10px !important;
}

.personal-tile {
  padding-left: 2rem;
}

.min-h {
  min-height: 350px !important;
}

.fs-6 {
  font-size: 1.1rem !important;
}

.low-margin {
  margin-top: -10px !important;
}

.low-margin-m {
  margin-top: -15px !important;
}

.margin-medium {
  margin-top: 2rem !important;
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}

.exp-icon {
  width: 4rem;
}

.tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: #ffffff;
  color: #303030;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 90%; /* Position above the card */
  left: 10%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.project-card:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991px) {
  .nav-link {
    font-size: large !important;
    margin: 5px !important;
    text-align: center;
    width: 100%;
  }

  .navbar-nav {
    margin-top: 5px !important;
  }

  .solid-pill {
    width: 100%;
  }

  .personal-tile {
    padding-left: 1rem;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1100px;
  }

  .nav-container {
    max-width: 1070px;
  }
}

@media (min-width: 995px) and (max-width: 1199.98px) {
  .custom-container {
    max-width: 960px;
  }

  .nav-container {
    max-width: 930px;
  }
}

@media (min-width: 768px) and (max-width: 994.98px) {
  .custom-container {
    max-width: 750px;
  }

  .nav-container {
    max-width: 720px;
  }

  .exp-icon,
  .exp-col {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .custom-container {
    max-width: 540px;
  }

  .nav-container {
    max-width: 510px;
  }

  .lower-deck {
    margin-top: 0 !important;
  }

  .navbar-center {
    display: block;
  }

  .exp-icon,
  .exp-col {
    display: none;
  }

  .tooltip-text {
    left: 20%;
  }
}
