body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  height: 100vh;
  background-image: url("../img/bg/abstract_01.png");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: background-image 0.5s ease-in-out;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-white {
  color: #fff;
}

.remove-link {
  text-decoration: none;
  color: #fff !important;
  transition: color 0.3s ease;
}

.remove-link:hover {
  color: #d5d5d5 !important;
}

.main-content-area {
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.frosted-glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #fff;
  box-shadow: 0 4px 6px rgba(54, 54, 54, 0.1);
  text-align: center;
}

.br-20 {
  border-radius: 20px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  color: #fff;
  font-size: large !important;
  border-radius: 10px;

  margin-left: 5px !important;
  margin-right: 5px !important;

  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;

  transition: background 0.4s ease, border-radius 0.4s ease;
}

.nav-link:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1) !important;
}

.nav-link.active {
  color: #fff !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 10px;
}

.nav-link.active:hover {
  background: rgba(255, 255, 255, 0.2) !important;
}

.navbar-toggler {
  background: rgba(255, 255, 255, 0.6) !important;
}

.theme-button {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #ffffff;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;

  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin-bottom: 10px;
  width: auto;
  min-width: 180px;
}

.theme-button:hover {
  background: rgba(255, 255, 255, 0.2);
}

.gallery-button {
  min-width: 180px;
}

.skill-pill {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  margin: 4px;
  width: auto;
  min-width: 5px;
}

.skill-pill:hover {
  background: rgba(255, 255, 255, 0.2);
}

.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 25%;
  height: 2px;
  background-color: currentColor;
  transform: translateX(-50%);
}

.mb-small {
  margin-bottom: 10px !important;
}

.personal-tile {
  padding-left: 3rem;
}

.min-h {
  min-height: 350px !important;
}

@media (max-width: 991px) {
  .nav-link {
    font-size: large !important;
    margin: 5px !important;
    text-align: center;
    width: 100%;
  }

  .navbar-nav {
    margin-top: 5px !important;
  }

  .solid-pill {
    width: 100%;
  }

  .personal-tile {
    padding-left: 1rem;
  }
}

.custom-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1000px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .custom-container {
    max-width: 950px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .custom-container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .custom-container {
    max-width: 540px;
  }

  .lower-deck {
    margin-top: 0 !important;
  }

  .navbar-center {
    display: block;
  }
}
