.raleway-thin {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.raleway-extralight {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.raleway-light {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-extrabold {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.raleway-black {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.raleway-thin-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.raleway-extralight-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.raleway-light-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.raleway-regular-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.raleway-medium-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.raleway-semibold-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.raleway-bold-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.raleway-extrabold-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.raleway-black-italic {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeonFont";
  src: url("../fonts/Clip.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.neon-text {
  font-family: "NeonFont", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 1;
  text-shadow: 0 0 5px #1a7f92, /* Lighter shade */ 0 0 10px #338c9f,
    /* Lighter shade */ 0 0 15px #016d7f, /* Original color */ 0 0 20px #015c6d,
    /* Darker shade */ 0 0 25px #013c4d; /* Darker shade */
}

.neon-font {
  font-family: "NeonFont", sans-serif;
  letter-spacing: 3px;
}
